@import "tailwindcss";


@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #F8F5E9; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #9DC08B; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #63934c; /* Color of the scrollbar thumb on hover */
}

@colors{
  --font-display: "Inter", "sans-serif";
  --color-main: #B2A5FF;
}
